modules = ["python-3.11"]
[workflows]

[[workflows.workflow]]
name = "run"
mode = "sequential"
author = 21132816

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python api/index.py"

[nix]

[[ports]]
localPort = 5000
externalPort = 80
